/* SparkFinder */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eef2ff;
}

/* Navigation */

nav{
    background:#5B4BDB;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 30px;
}

nav h1{
    font-size:28px;
}

.nav-links{
    display:flex;
    gap:20px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.nav-links a:hover{
    text-decoration:underline;
}

/* Hero */

.hero{
    text-align:center;
    padding:60px 20px;
}

.hero h2{
    font-size:40px;
    color:#5B4BDB;
    margin-bottom:10px;
}

.hero p{
    font-size:18px;
    color:#555;
}

/* Main container */

.container{
    width:90%;
    max-width:700px;
    margin:30px auto;
}

/* Cards */

.card{
    background:white;
    border-radius:20px;
    padding:25px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
    margin-bottom:25px;
}

.card h2{
    color:#5B4BDB;
    margin-bottom:20px;
}

/* Inputs */

input,
textarea{

    width:100%;
    padding:14px;
    margin:10px 0;

    border:2px solid #ddd;
    border-radius:10px;

    font-size:16px;
}

textarea{
    height:120px;
    resize:none;
}

/* Button */

button{

    width:100%;

    padding:15px;

    background:#5B4BDB;

    color:white;

    border:none;

    border-radius:10px;

    font-size:18px;

    cursor:pointer;

    transition:0.3s;
}

button:hover{

    background:#4338CA;
}

/* Profile */

#profile{

    margin-top:20px;
}

.profile-card{

    background:white;

    border-left:8px solid #5B4BDB;

    border-radius:20px;

    padding:25px;

    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.profile-card h2{

    color:#5B4BDB;

    margin-bottom:15px;
}

.profile-card p{

    margin:8px 0;
}

/* Mobile */

@media(max-width:700px){

nav{

flex-direction:column;

gap:10px;

}

.hero h2{

font-size:32px;

}

}
